body {
  padding-top: 4rem;  justify-content: center;
  background-color: #f5f5f5;
}

input {
  border-color: black 1px solid;
}

.btn-primary .custom {
  background-color: #6F6BB2 !important;
  border-color: none !important;
}


.form-control {
  border: solid #0000003b 1px !important;
}

.fa-envelope {
  position: relative;
  left: 1rem;
  font-size: 1rem;
  bottom: -0.1rem;
  color: #6F6BB2 !important;
}

/* Style de votre conteneur principal */
/* Style de votre conteneur principal */
.container .mt-5 {
  min-height: 100vh; /* Hauteur minimale égale à 100% de la hauteur de la fenêtre visible */
  overflow-x: hidden; /* Masquer tout défilement horizontal indésirable */
  overflow-y: auto; /* Activation du défilement vertical lorsque le contenu dépasse la hauteur minimale */
}
