<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | SDN</title>
    <meta name="description" content="Vous avez des questions ou des commentaires ? N'hésitez pas à me contacter en utilisant le formulaire ci-dessous.">
      <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.stephanedn.com/contact">
    <meta property="og:title" content="Contact | SDN">
    <meta property="og:description" content="Vous avez des questions ou des commentaires ? N'hésitez pas à me contacter en utilisant le formulaire ci-dessous.">
    <meta property="og:image" content="https://i.ibb.co/TbPC1yW/DALL-E-2024-04-04-00-30-01-Illustration-of-a-male-avatar-sitting-at-a-desk-with-a-computer-coding.jpg">

    <!-- CSRF et CSP Meta tags supprimés pour Formspree -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
    <div class="container mt-5">
        <h5 class="welcome-title">Contactez-moi</h5>
        <p class="text-center"><strong>Vous avez des questions ou des commentaires ? N'hésitez pas à me contacter en utilisant le formulaire ci-dessous.</strong></p>
        <form id="contact-form" action="https://formspree.io/f/myyrbygq" method="POST">
            <!-- Suppression de la ligne du token CSRF -->
            <div class="form-group">
                <i class="fa-solid fa-user"></i> <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" autocomplete="name" name="name" required>
            </div>
            <br>
            <div class="form-group">
                <i class="fi fi-sr-envelope"></i> <label for="email">Email</label>
                <input type="email" class="form-control" id="email" autocomplete="email" name="_replyto" title="Veuillez entrer une adresse e-mail valide." required>
            </div>
            <br>
            <div class="form-group">
                <i class="fi fi-rr-edit"></i> <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary custom-btn">Envoyer</button>
        </form>
    </div>

    <!-- Remplacement de jQuery Slim par la version complète si `matchHeight` est nécessaire -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Inclure ici le script pour `matchHeight` si nécessaire -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById('contact-form');

    // Restauration des valeurs sauvegardées
    document.querySelectorAll('#contact-form input, #contact-form textarea').forEach(input => {
        const savedValue = localStorage.getItem(input.id);
        if (savedValue) input.value = savedValue;
    });

    // Sauvegarde des valeurs lors de l'entrée
    form.addEventListener('input', (e) => {
        localStorage.setItem(e.target.id, e.target.value);
    });

    form.addEventListener('submit', async function(event) {
        event.preventDefault(); // Empêche le comportement de soumission par défaut du formulaire

        var formData = new FormData(form);
        try {
            var response = await fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {'Accept': 'application/json'}
            });

            if (response.ok) {
                alert("Merci pour votre message. Nous vous contacterons bientôt !");
                form.reset();
                localStorage.clear();
            } else {
                alert("Oups ! Il y a eu un problème avec l'envoi de votre formulaire. Veuillez réessayer.");
            }
        } catch (error) {
            console.error('Erreur lors de l’envoi du formulaire : ', error);
            alert("Oups ! Il y a eu un problème avec l'envoi de votre formulaire. Veuillez réessayer.");
        }
    });
});
</script>
</html>
