<br>
<br>
<div class="text-center">
  <h1>Mentions légales</h1>

  <h2>1. Éditeur du site</h2>
  <p>Le site web est édité par Stéphane Dei-Negri, domicilié au 31 route de Madirac, 33880 Saint-Caprais de Bordeaux, France. Email : <a href="mailto:s.deinegri2@gmail.com">s.deinegri2@gmail.com</a>.</p>

  <h2>2. Propriété intellectuelle</h2>
  <p>Tout le contenu présent sur ce site, incluant, sans limitation, les graphiques, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Stéphane Dei-Negri. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.</p>

  <h2>3. Gestion des données personnelles</h2>
  <p>Les données personnelles collectées sur le site sont principalement utilisées par l'éditeur pour la gestion des relations avec vous, et le cas échéant pour le traitement de vos commandes. Les données collectées sont conservées pour une durée maximale d’un an. Conformément à la loi « informatique et libertés », vous bénéficiez d’un droit d’accès, de rectification et d’opposition aux informations qui vous concernent, que vous pouvez exercer en vous adressant à l'adresse email de l'éditeur.</p>

  <h2>4. Cookies</h2>
  <p>Le site utilise des cookies uniquement pour assurer son bon fonctionnement et optimiser la performance technique. Ces fichiers texte stockés sur votre ordinateur permettent une analyse de l'utilisation du site et de mesurer l'audience. Les informations collectées via les cookies ne permettent en aucun cas d'identifier personnellement un utilisateur.</p>

  <h2>5. Conditions de service</h2>
  <p>Ce site est proposé en langues HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable. Nous recommandons l’utilisation de navigateurs modernes comme Internet Explorer, Safari, Firefox, Google Chrome, etc.</p>

  <h2>6. Contact</h2>
  <p>Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d’activités illicites, l'utilisateur peut contacter l'éditeur à l’adresse suivante : <a href="mailto:s.deinegri2@gmail.com">s.deinegri2@gmail.com</a> ou par courrier recommandé avec accusé de réception adressé à l'éditeur aux coordonnées spécifiées dans ce document.</p>
</div>
