.projects-show .scrollToTopBtn {
  display: none !important;
}

.project-title {
  font-size: 2rem;
  color: #7870CA;
  font-weight: bold;
}


.fa-brands {
  color: black;
  padding-inline: 0.5rem;
}

.fa-brands:hover {
  color: #7870CA;
}
