.projects-show .scrollToTopBtn {
  display: none !important;
}

.project-title {
  font-size: 2rem;
  color: #7870CA;
  font-weight: bold;
}


.fa-brands {
  color: black;
  padding-inline: 0.5rem;
}

.fa-brands:hover {
  color: #7870CA;
}

p {
  color: #007bff; /* Couleur par défaut des liens */
  text-decoration: none; /* Pas de soulignement */
}

p:hover {
  color: #0056b3; /* Couleur des liens au survol */
  text-decoration: underline; /* Soulignement au survol */
}

/* Styles supplémentaires si nécessaires */
p:visited {
  color: #551a8b; /* Couleur des liens visités */
}

p:active {
  color: #ff0000; /* Couleur des liens actifs */
}
